/* .nav_bar{
        
    width: auto;
    height: 100px;
    background-image: linear-gradient(rgb(93, 93, 173),rgb(192, 81, 133));
    }

   .content{
    margin-top: 30px;
    padding-left: 30px;
   }

   .user {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    float:right;
    
}

.one {
background-image: url(https://pngimg.com/d/circle_PNG36.png);
    } */

:root {
  --color-primary: #0073ff;
  --color-white: #000000;
  --color-black: #c7dcf1;
  --color-black-1: #212b38;
}
button {
  border-radius: 10px;

  height: 100px;
  width: 220px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  size: 30px;
  margin-left: 140px;
}
button:hover {
  background-color: aqua;
}

* {
  margin: 0;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 15px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.btn {
  background-image: linear-gradient(rgb(93, 93, 173), rgb(192, 81, 133));
  width: auto;
  height: 45px;
}

table {
  /* padding: 1rem; */
  border: none;
  height: 170px;
  width: 80%;
}
.names {
  font-size: 18px;
  font-weight: bold;
}
td {
  font-size: 18px;
}
.content{
    padding: 1rem;
}
.content a {
  text-decoration: none;
  color: white;
}
input {
  width: auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0.8em auto;
}
#popup_change {
  display: none;
  border: 3px solid rgb(0, 0, 0);
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
label {
  font-weight: bold;
}
.btn-close {
  float: right;
}

.right-drop {
  display: flex;
  margin-left: 420px;
}

.button_class {
  color: rgb(255, 255, 255);
  height: 150px;
  width: 250px;
  background-color: rgb(16, 53, 78);
  border: 1px solid whitesmoke;
}
.button_class:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(227, 227, 227);
}
